body {
    background-color: #f0f0f0;
  }

#calcbox {
    margin:auto;
    display:flex;
    width:fit-content;
    align-items: center;
    background-color: aliceblue;
    border: 3px solid lightgray;
    border-radius: 10px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#calcbox input {
    float: right;
    margin-left: 5px

}

.output {
    width:fit-content;
    border: none;
    background-color: aliceblue;
    font-weight: bold;
}
  
#notice {
    margin:auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

ul {
    margin-top: -20px;
}